<app-navbar></app-navbar>
<section class="section-2 wf-section">
    <h1 class="heading-5 text-primary text-gradient spark-centered-text-link">Merci de nous envoyer un email.</h1>
    <div class="text-block-4 text-secondary">Un de nos représentants du service client vous répondra dans les plus brefs délais</div>
    <div class="w-container">
        <img src="../../../assets/Downloader.la-646c5afe7b70d.jpg" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" srcset="../../../assets/Downloader.la-646c5afe7b70d-p-500.jpg 500w, ../../../assets/Downloader.la-646c5afe7b70d-p-800.jpg 800w, ../../../assets/Downloader.la-646c5afe7b70d.jpg 1024w" alt=""></div>
  </section>
  <app-footer></app-footer>