<div class="container">
    <div class="header-section bg-light text-center p-5 mb-3">
      <h2></h2>
      <img src="../assets/vector.jpg" alt="IMAGE VECTOR WITH HEADLINE">
    </div>

    <div class="search-section p-3 bg-light rounded-pill d-flex justify-content-center">
      <input type="text" class="form-control mx-2 rounded-pill" placeholder="Field 1">
      <input type="text" class="form-control mx-2 rounded-pill" placeholder="Field 2">
      <input type="text" class="form-control mx-2 rounded-pill" placeholder="Field 3">
      <button class="btn btn-primary rounded-pill">Search</button>
    </div>
  </div>
