<!-- <mat-toolbar class="sticky">
  <span>
    <img width="40px" height="40px" class="logo" style="padding-top: 5px;" src="../assets/logo.png" routerLink="/home">
  </span>
  <span class="spacer"></span>
  <ul class="nav-list">
    <li>
      <a mat-button routerLink="/login" routerLinkActive="btn-selected">Log in</a>
    </li>
    <li>
      <button mat-icon-button>
        <mat-icon class="menu-dots">support_agent</mat-icon>
      </button>
    </li>
    <li>
      <button mat-icon-button>
        <mat-icon class="menu-dots">mail</mat-icon>
      </button>
    </li>
    <li>
      <button mat-icon-button (click)="logout()">
        <mat-icon class="menu-dots">logout</mat-icon>
      </button>
    </li>
  </ul>
</mat-toolbar> -->

<div class="navbar wf-section">
  <div class="navbar-space"></div>
  <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease-out"
    data-easing2="ease-out" role="banner" class="navbar-inner w-nav">
    <div class="container-copy navbar">
      <div class="navbar-wrapper">
        <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
          <div class="nav-menu-flex">
            <a href="#" class="w-nav-brand"><img src="../../../assets/logo.png" loading="lazy" height="" alt="" width="119.5"
                srcset="../../../assets/logo-p-500.png 500w, ../../../assets/logo-p-800.png 800w, ../../../assets/logo.png 1000w"
                sizes="(max-width: 991px) 100vw, (max-width: 1279px) 9vw, 89.60000610351562px" class="logo"></a>
            <ol role="list" class="nav-menu w-list-unstyled">
              <li>
                <a href="#home" class="nav-link">Home</a>
              </li>
              <li>
                <a href="#process" class="nav-link">Trouvez un longement</a>
              </li>
              <li>
                <a href="#testimonials" class="nav-link">Publier un longement</a>
              </li>
              <li>
                <a href="contact.html" class="nav-link">Contact</a>
              </li>
              <li>
                <a href="#about" class="nav-link">A propos</a>
              </li>
              <li>
                <a href="#pricing" class="nav-link">FAQ</a>
              </li>
            </ol>
            <div class="navbar-button-wrapper">
              <a  class="button-copy cc-small w-button" (click)="logout()">Login/signup</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease-out"
    data-easing2="ease-out" data-w-id="577246c2-be80-9a0d-4fe9-018c566815d9" role="banner"
    class="navbar-inner-mobile w-nav">
    <div class="container">
      <div class="navbar-wrapper-mobile">
        <a href="index.html" aria-current="page" class="navbar-brand-mobile w-nav-brand w--current"><img
            src="../../../assets/rsz_1moncoloc-low-resolution-logo-color-on-transparent-background1.png" loading="lazy"
            height="" width="119.5" alt="" class="logo"></a>
        <div data-w-id="577246c2-be80-9a0d-4fe9-018c566815de" class="menu-button w-nav-button">
          <div class="burger">
            <div class="burger-line cc-top"></div>
            <div class="burger-line cc-middle"></div>
            <div class="burger-line cc-bottom"></div>
          </div>
        </div>
      </div>
      <nav role="navigation" class="nav-menu-wrapper-mobile w-nav-menu">
        <div class="nav-menu-flex-mobile">
          <ul role="list" class="nav-menu w-list-unstyled">
            <li>
              <a href="#home" class="nav-link-mobile">Home</a>
            </li>
            <li>
              <a href="#process" class="nav-link-mobile">Process</a>
            </li>
            <li>
              <a href="#testimonials" class="nav-link-mobile">Testimonials</a>
            </li>
            <li>
              <a href="#Services" class="nav-link-mobile">Services</a>
            </li>
            <li>
              <a href="#Facts" class="nav-link-mobile">Facts</a>
            </li>
            <li>
              <a href="#about" class="nav-link-mobile">About</a>
            </li>
            <li>
              <a href="#pricing" class="nav-link-mobile">Pricing</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="navbar-shadow"></div>
  <div class="navbar-space"></div>
</div>