<div class="spark-section-2 wf-section">
    <div class="spark-container-2 w-container">
      <div class="spark-centered-900">
        <h2>Nous Contacter</h2>
        <p class="spark-foreground-secondary">Prenez contact - Vos retours et questions sont importants !</p>
      </div>
      <div class="spark-regular-form w-form">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <label for="fullname">Nom</label>
          <input type="text" class="spark-input-2 w-input" formControlName="fullname" placeholder="Entrer votre nom" id="name" required>
          
          <label for="email">Address Email</label>
          <input type="email" class="spark-input-2 w-input" formControlName="email" placeholder="Entrer votre Email Address" id="email" required>
          
          <label for="company">Company</label>
          <input type="text" class="spark-input-2 w-input" formControlName="company" placeholder="Enter Your Company Name" id="company" required>
          
          <label for="message">Message</label>
          <textarea id="message" formControlName="message" placeholder="Enter your message" class="spark-input-2 spark-message-input w-input"></textarea>
          
          <button type="submit" [disabled]="contactForm.invalid" class="spark-button-2 spark-full-width w-button">Submit</button>
        </form>
        <div *ngIf="success" class="spark-form-success-2 w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div *ngIf="submitted && !success" class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>