<div class="footer background-dark">
    <div class="container">
      <div class="footer-cta">
        <div class="join">
          <h2 class="display-3 text-white">Rejoignez-nous et trouvez rapidement votre colocataire !</h2>
        </div>
        <div>
          <a href="untitled.html" class="button w-button">Sign up </a>
        </div>
      </div>
      <div class="divider"></div>
      <div class="footer-grid">
        <div><img src="../../../assets/rsz_1moncoloc-low-resolution-logo-color-on-transparent-background1.png" loading="lazy"
            height="" alt="" width="119.5" class="logo margin-bottom-20">
          <div class="margin-bottom-20">© all rights reserved MonColoc<br>‍</div>
          <div class="social-links-wrapper">
            <ul role="list" class="social-links w-list-unstyled">
              <li class="social-link-item">
                <a href="#" class="social-link w-inline-block">
                  <div class="unicon"></div>
                </a>
              </li>
              <li class="social-link-item">
                <a href="#" class="social-link w-inline-block">
                  <div class="unicon"></div>
                </a>
              </li>
              <li class="social-link-item">
                <a href="#" class="social-link w-inline-block">
                  <div class="unicon"></div>
                </a>
              </li>
              <li class="social-link-item">
                <a href="#" class="social-link w-inline-block">
                  <div class="unicon"></div>
                </a>
              </li>
              <li class="social-link-item">
                <a href="#" class="social-link w-inline-block">
                  <div class="unicon"></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div id="w-node-_11e2dc3d-d1e1-458c-44c2-5749cd8efbcf-cd8efba7">
          <h4 class="text-white">Contact</h4>
          <div class="address margin-bottom-20">212 Rue Med 5<br>Larache, Maroc.</div>
          <a href="#" class="link-hover link-white">Contact@moncoloc.com</a>
          <div>+212 600 000 000</div>
        </div>
        <div id="w-node-_11e2dc3d-d1e1-458c-44c2-5749cd8efbd8-cd8efba7">
          <h4 class="text-white">Liens</h4>
          <ul role="list" class="unordered-list margin-bottom-none">
            <li>
              <a href="template/style-guide.html" class="link-hover link-white">Style Guide</a>
            </li>
            <li>
              <a href="404.html" class="link-hover link-white">404</a>
            </li>
            <li>
              <a href="#pricing" class="link-hover link-white">FAQ</a>
            </li>
          </ul>
        </div>
        <div id="w-node-_11e2dc3d-d1e1-458c-44c2-5749cd8efbe5-cd8efba7">
          <h4 class="text-white">Our Newsletter</h4>
          <p>Subscribe to our newsletter to get our news delivered to you.</p>
          <div class="w-form">
            <form id="wf-form-Newsletter-Form" name="wf-form-Newsletter-Form" data-name="Newsletter Form" method="get">
              <div class="input-group"><input type="email" class="text-field-dark w-input" maxlength="256"
                  name="email-2" data-name="Email 2" placeholder="Email Address" id="email-2" required=""><input
                  type="submit" value="Join" data-wait="Please wait..." class="button cc-small cc-form w-button"></div>
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  